.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
  margin-top: 0px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.gallery-grid p {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.gallery-grid p img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.gallery-grid img {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

img[src="/images/profile2.jpg"] {
  max-width: 300px;
  border: 4px solid var(--accent) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  transition: transform 0.2s ease;
  cursor: pointer;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

img[src="/images/profile2.jpg"]:hover {
  transform: scale(1.03);
}

@media (max-width: 750px) {
  img[src="/images/profile2.jpg"] {
    float: none !important;
    display: block !important;
    margin: 1rem auto !important;
    margin-top: 0 !important;
  }
}

/* Logo title fix */
.logo {
  color: var(--background);
}

body.photos .logo,
body.photos .logo a {
  background: var(--background) !important;
  color: var(--accent) !important;
  border-color: var(--accent);
}

.menu--mobile {
  display: none !important;
}

p:has(a[href*="tools.thekiller.net"]) {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

