<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
  <div class="logo">
    <span class="taped w-smi"><span class="smi-scrap" data-smiley></span></span>
    <span class="logo-words">
      <span class="taped w-s1"><span class="scrap s1">STEVE</span></span>
      <span class="taped w-s2"><span class="scrap s2">THE</span></span>
      <span class="taped w-s3"><span class="scrap s3">KILLER</span></span>
    </span>
  </div>
</a>
